<img src="../assets/agua-top.jpg" class="water-top">

<div class="wrapper">
    <img src="../assets/caixa-left.png" class="tank-left">

    <div class="title">
        <h1>Casa de Araras</h1>
        <hr>
        <h3>Monitoramento da Água</h3>
    </div>

    <div class="flow-container">
        <p class="title-card">Entrada de água</p>
        <div class="card-container">
            <div class="card">
                <p>Litros/minuto</p>
                <h2 class="flow-min">{{ flowMinutes < 0 ? '-' : flowMinutes }}</h2>
            </div>
            <div class="card">
                <p>Litros/hora</p>
                <h2 class="flow-hours">{{ flowHours < 0 ? '-' : flowHours }}</h2>
            </div>
        </div>

        <p class="title-card">Indicador de Nível</p>
        <div class="card-container">
            <div class="card">
                <p>Nível</p>
                <h2 class="flow-min" [ngClass]="{ 'red': !level }">{{ level < 0 ? '-' : level + '%' }}</h2>
            </div>
            <div class="card">
                <p>Recuperação</p>
                <h2 class="flow-hours">{{ refillTime ? refillTime : '-' }}</h2>
            </div>
        </div>

        <p class="last-update">Última Atualização: {{lastUpdate | date : 'd/M HH:mm:ss'}}</p>
    </div>
</div>
<p *ngIf="showWarning" class="message">{{ warningMessage }}</p>
