.wrapper {
  font-family: Verdana, Arial, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 30% auto;
}

.water-top {
  width: 100%;
  max-height: 190px;
  margin-top: 50px;
}

.tank-left {
  width: 100%;
}

.title {
  text-align: center;
  width: 70%;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #05056e;

  h1 {
      font-size: 2rem;
      margin-bottom: 0px;
  }

  hr {
      margin-top: 0px;
      margin-bottom: 0px;
      width: 80%;
  }

  h3 {
      margin-top: 5px;
      color: black;
      font-size: 1.1rem;
      font-weight: normal;
  }
}

.flow-container {
  width: 95%;
  margin: 0px auto;
}

.title-card {
  background-color: #05056e;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  padding: 1px 1px;
  margin-top: 30px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.card {
  display: inline-block;
  background-color: #dcefff;
  padding: 5px;
  margin: 0px 0px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

  p {
      margin: 2px 10px;
      font-size: 0.9rem;
      font-weight: normal;
  }

  h2 {
      margin: 10px 10px 0 10px;
      color: #05056e;
  }
}

.content {
  width: 70%;
  display: inline-block;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

  h1 {
      width: 100%;
      text-align: center;
      color: #2f7fc0;
  }
}

.message {
  font-family: Verdana, Arial, Tahoma, sans-serif;
  margin-top: 10px;
  font-weight: normal;
  font-style: italic;
  color: red;
  max-width: 100%;
}

.last-update {
font-family: Verdana, Arial, Tahoma, sans-serif;
margin-top: 10px;
font-weight: normal;
font-style: italic;
color: rgb(160, 160, 160);
max-width: 100%;
}

.red {
  color: red !important;
}

.blue {
  color: #05056e;
}

@media screen and (min-width: 700px) {
  .background {
     width: 700px;
  }
}
